.grid-container {
  display: grid;
  gap: clamp(0.25rem, 1ch, 0.5rem);
  padding: 2ch;
}

.grid-cols2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-cols3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-child {
  padding: 0.5ch;
}

.grid-fill {
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

.grid-fit {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
